/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.containerMargin{
  margin-top: 190px;
}

.containerMargin1{
  margin-top: 240px;
}

.bgRed{
  background-color: red;
}

.button1{
  color: black;
  background-color: white;
  border-radius: 5px;
}

.img{
  max-width: 100%;
  height: auto;
}

.inputTextColor{
  color: white;
  background-color: rgb(67, 67, 67);
}

.myBorder2{
  border: rgb(14, 4, 4) solid 2px;
}

.myBorder{
  border: red solid 2px;
  border-radius: 10px;
  position: relative;
}

.discount{
  position: absolute;
  left: 20px;
  top: 10px;
  background-color: rgb(236, 174, 58);
  padding: 5px;
  border-radius: 10px;
}

.cartCntRelative{
  position: relative;
}

.cartCount{
  position: absolute;
  left: 35px;
  top: 0px;
  padding: 2px;
  background-color: rgb(236, 174, 58);
  border-radius: 5px;
}

.cartBorder{
  border: red solid 1px;
  
}

.textBold{
  font-weight: bold;
}

/* BillInvoice css */
.billInvoiceBox{
  max-width: 700px;
  margin: auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
